
.playing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playing__song {
display: flex;
flex-direction: column;
align-items: center;
}

.playing__song__img {
  margin: 50px 0px;
  width: 240px;
  height: 240px;
  border-radius: 15px;
  box-shadow: 0px 20px 20px var(--beige), 0 15px 12px var(--brown);
}
.playing__song__title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
}

.playing__song__artist {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 40px;
  color: rgba(0,0,0,0.3);
}

.audio {
  background-color: var(--blue);
}

.playing__time {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.playing__bar {
  position: relative;
  margin:15px 0px;
  background-color: #222222;
  width: 80%;
}
.playing__bar__played {
  height:4px;
  border-radius: 5px;
  background-color:#23423d;
  width: 75%;
  position: absolute;
}
  .playing__bar__total {
  background-color:#87A39F;
  height:4px;
  border-radius: 5px;
}
  .playing__bar__circle {
  height: 10px;
  width: 10px;
  background-color:#23423d;
  border-radius: 50%;
  position: absolute;
  top:-3.5px;
  left:75%;
}

.playing__btns {
  width: 80%;
  margin:30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-repeat,
.fa-shuffle {
  color: #87A39F;
}
.fa-backward-step,
.fa-circle-play,
.fa-forward-step {
  color:#23423d;
}
.fa-circle-play {
  border-radius: 50%;
  box-shadow: 0px 10px 20px #87A39F;
}