@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');
@import "container_left.css";
@import "container_right.css";

* {
  box-sizing: border-box;
  object-fit:cover;
}
:root {
  --green: #e9eae4;
  --beige:#ECCDAF;
  --brown:#E0A787;
  --red:#F58D71;
  --blue:#87A39F;
}
body {
  color: #2e363e;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(0deg, rgb(44, 98, 81) 10%, rgb(77, 130, 88) 25%, rgba(236,205,175,1) 98%);
  display: block;
  filter: drop-shadow(0px 0px 10px var(--brown));
}
.container {
  border-radius: 30px;
  margin: 70px;
  background-color: white;
  width: 350px;
  height: 700px;
  position: relative;
  }
